
@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

body{
    background-image: url("http://zoomix.inesctec.pt/assets/img/upgridbackground.jpg");
    font-family: FontAwesome, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.myClass:before {
    font-family: FontAwesome;
    content: "\f024";
}

.navbar-brand {
	color: #000 !important;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 10px; /* firefox bug fix */
  width: auto;
}

.navbar-brand {  
  width: 300px;
}
.nav a{
    color: black !important;
    font-size: 13px !important;
}

.navbar-brand {
  color: #000 !important;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 10px; /* firefox bug fix */
  width: auto;
}

.navbar-brand {  
  width: 300px;
}
.nav a{
    color: black !important;
    font-size: 13px !important;
}

.menu-backoffice 
{
    padding: 0px;
}
.sem-ponto {
    list-style: none;
}

.filler{
  min-height: 2000px;
}

.affix { 
    top: 0px; width:100%; 
} 
#sidebar{
    margin-top: 20px;
}

.no-margin-bottom: {
  margin-bottom: 0px !important;
}

.titulo-provas{
  color:#1E90FF;
}
.titulo {
  color:#8BB753;
}

.no-margin-bottom: {
  margin-bottom: 0px !important;
}